/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: -apple-system, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  box-shadow: -1rem 2rem 4rem rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 5rem;
  padding: 4rem;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 1rem;
}
